@import variables

@media only screen and (max-width: 600px) 
    #exercise 
        width: 100%
        .body
            .controls
                display: block !important 
    

=myButton($color, $hover) 
    &:hover
        background-color: $hover
    font-size: $font-size-text
    padding: $font-size-rem-base
    border-radius: $border-radius-medium
    box-shadow: $box-shadow-m
    background-color: $color
    cursor: pointer
    color: $color-neutral-white
    font-weight: $font-weight-bold
    margin-top: $font-size-heading-xl 

#exercise
    width: 70%
    margin: 0 auto
    .header
        width: 100%
        display: inline-flex
        //flex-wrap: wrap
        justify-content: space-between
        height: $height
        vertical-align: middle
        font-size: $font-size-heading-md
        align-items: center
        .fighter
            cursor: pointer
            width: 40%
            padding: $font-size-rem-base
            font-weight: $font-weight-bold
            color: $color-grey-4

    .body
        .life-bars
            width: 100%
            display: inline-flex
            justify-content: space-between
            height: $height-sm
            .life-bar
                background-color: $color-grey-1
                width: 40%
                border-radius: $border-radius-large
                border-collapse: collapse
                .health 
                    color: $color-neutral-white
                    border: $border-medium solid pink
                    border-radius: inherit
                    width: 90%
                    background-color: $color-green-3
                    border: 1px solid pink
                    height: 100%

        .start-game
            display: flex
            justify-content: center
            width: 100%
            div
                +myButton($color-yellow-3, $color-yellow-2)

        .controls        
            width: 100%
            display: flex
            justify-content: space-between
            .attact
                +myButton($color-red-3, $color-red-2)
            .special-attact
                +myButton($color-green-3, $color-green-2)
            .heal
                +myButton($color-blue-3, $color-blue-2)
            .give-up
                +myButton($color-grey-3, $color-grey-2)

        .history
            margin-top: $font-size-heading-xl
            .event
                .player-turn 
                    background-color: $color-blue-1
                .monster-turn 
                    background-color: $color-red-1